<div class="center jumbotron">
  <h1>Aggie Blog Home</h1>
  <%= link_to "Sign up now!", "#", class: "btn btn-primary btn-xlarge" %>
</div>

<%= link_to 'Aggie Blog', articles_path %> |

<%= link_to 'About Blog', about_path %>